@import "preset";
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/variables-dark';

// Überschreibe Bootstrap-Variablen
$bg-dark: #ff0000; // Ändere die Hintergrundfarbe von bg-dark

// Importiere den Rest der Bootstrap-Styles
@import 'node_modules/bootstrap/scss/maps';
@import 'node_modules/bootstrap/scss/mixins';
@import 'node_modules/bootstrap/scss/root';

// Füge benutzerdefinierte Anpassungen hinzu
// ...


/* Standard-Styles für das Logo */
.navbar-brand {
    display: block; /* Standardanzeige */
  }
  
  /* Media Query für die mobile Ansicht */
  @media (max-width: 767px) {
    .navbar-brand {
      display: none; /* Logo in der mobilen Ansicht ausblenden */
    }
  }

